body{
    background-color: green;
}

.container{
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.row{
    height: 200px;
    margin: 5px;
}

.box{
    justify-content: center;
    font-size: 100px;
    width: 125px;
    height: 125px;
}

.second{
    margin: auto;
}

.third{
   margin-left: auto;
   margin-top: 50px;
   width: 100px;
   
}


